@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}




@media screen and (max-width: 767px) {
  input, select, textarea {
       font-size: 16px !important;
  }
}

